/* BODY */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(120deg, #15A08B, #203471);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 200% 200%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
}

/* NAV BAR */

.navbar {
    background: transparent;
    color: white;
    height: 64px;
}

.navbar a {
    width: calc(100%/3);
    color: white;
    transition-duration: 0.2s;
}

.navbar .themes-button {
    text-align: left;
}

.navbar .home-button {
    text-align: center;
}

.navbar .notifications-button {
    text-align: right;
}

.navbar .notifications-button:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.navbar a:hover {
    color: white;
    opacity: 0.5;
    text-decoration: none;
}

#nav-logo {
    height: 20px;
    margin: 0;
}

.navbar-brand {
    width: 100%;
    text-align: center;
}

/* CAROUSEL */

.carousel {}

.carousel-item {
    height: calc(100vh - 64px - 16px);
}

.conferences-section {
    height: 100%;
}

.home-section {
    height: calc(100% - 64px - 16px);
    overflow: scroll;
}

.home-section ul {
    padding: 0;
    list-style-type: none;
}

.question-item {
    background: white;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
}

.question-item p {
    padding: 24px;
    font-weight: 600;
    width: calc(100vw - 32px - 116px)
}

.question-item button {
    background: transparent;
    height: auto;
    display: inline-block;
    margin: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    border: none;
    border-left: 1px solid black;
    padding: 16px;
    font-weight: 600;
    width: 116px;
    color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.question-item button:after {
    content: "";
    background: black;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.question-item button:active:after {
    padding: 0;
    margin: 0;
    opacity: 0.1;
    transition: 0s
}

.notifications-section {
    height: calc(100% - 64px);
    overflow: scroll;
}

.notifications-section ul {
    padding: 0;
    list-style-type: none;
}

.notification-item {
    color: white;
    background: transparent;
    border-bottom: 1px solid white;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
}

.notification-item p {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 300;
}

.themes-section {
    height: 100%;
    overflow: scroll;
}

.themes-section ul {
    padding: 0;
    list-style-type: none;
}

.theme-item {
    background: transparent;
    border-radius: 8px;
    border: 2px solid white;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    position: relative;
    -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
    color: white
}

.theme-item p {
    margin: 0;
    padding: 24px;
    font-weight: 600;
    width: calc(100vw - 32px - 64px);
}

.theme-item:hover {
    opacity: 0.5;
}

.theme-item button {
    background: transparent;
    height: auto;
    display: inline-block;
    margin: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
    border: none;
    padding: 16px;
    font-weight: 600;
    width: 64px;
    color: inherit;
}

/* FOOTER */

.footer {
    position: absolute;
    left: 0;
    bottom: -16px;
    width: 100%;
    padding: 16px;
}

.footer .question-input {
    margin: 0;
    height: 64px;
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    padding: 16px;
    width: auto;
}

.footer .btn {
    width: 100%;
    height: 100%;
    background: white;
    color: black;
    margin: 0;
    border: none;
    border-radius: 8px;
    transition-duration: 0.2s;
}

.footer .btn:hover {
    background: white;
    opacity: 0.5;
    border: none;
    color: black;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.5;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    opacity: 0.5;
}

.panel {
    color: white;
}

#Login button {
    margin-top: 16px;
    background: transparent;
    border: 2px solid white;
}

.panel #logo {
    width: 200px;
    margin-top: 64px;
}

.forgot a {
    color: white;
    text-decoration: underline;
}
